<a href="https://colab.research.google.com/github/redadmiral/python-for-journalists/blob/main/exercises/ProbleklausurBlockSolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probeklausur Python für Journalist*innen Wise 24/25

Wenn du KI-Tools für die Lösung verwendest, dann gib stets deinen Prompt mit an. Jedes mit KI-generiertem Code erzielte Ergebnis muss für die volle Punktzahl mit einem weiteren Prompt überprüft werden. Der Kontroll-Prompt muss einen anderen Lösungsweg nutzen als der erste Prompt.

1. Lade den Datensatz in die Umgebung: https://data.stadt-zuerich.ch/dataset/sid_stapo_hundebestand_od1001/download/KUL100OD1001.csv

In [17]:
# prompt: Lade den Datensatz direkt mit pandas in die Umgebung: https://raw.githubusercontent.com/redadmiral/python-for-journalists/refs/heads/main/datasets/kul100od1001%20(1).csv Stelle die ersten zeilen mit head() dar. Stelle ein, dass bei der ausgabe mit head() keine Spalten ausgelassen werden.

import pandas as pd

# Lade den Datensatz direkt mit pandas in die Umgebung
url = "https://raw.githubusercontent.com/redadmiral/python-for-journalists/refs/heads/main/datasets/kul100od1001%20(1).csv"
try:
  df = pd.read_csv(url)
except Exception as e:
  print(f"Fehler beim Laden der Datei: {e}")
  exit() # Stop execution if the file can't be loaded


# Stelle die ersten Zeilen mit head() dar und stelle ein, dass keine Spalten ausgelassen werden
pd.set_option("display.max_columns", None)  # Zeige alle Spalten
df.head()

,StichtagDatJahr,DatenstandCd,HalterId,AlterV10Cd,AlterV10Lang,AlterV10Sort,SexCd,SexLang,SexSort,KreisCd,KreisLang,KreisSort,QuarCd,QuarLang,QuarSort,Rasse1Text,Rasse2Text,RasseMischlingCd,RasseMischlingLang,RasseMischlingSort,RassentypCd,RassentypLang,RassentypSort,GebDatHundJahr,AlterVHundCd,AlterVHundLang,AlterVHundSort,SexHundCd,SexHundLang,SexHundSort,HundefarbeText,AnzHunde
0,2015,D,126,60,60- bis 69-Jährige,7,1,männlich,1,9,Kreis 9,9,92,Altstetten,92,Welsh Terrier,Keine,1,Rassehund,1,K,Kleinwüchsig,1,2011,3,3-Jährige,3,2,weiblich,2,schwarz/braun,1
1,2015,D,574,60,60- bis 69-Jährige,7,2,weiblich,2,2,Kreis 2,2,23,Leimbach,23,Cairn Terrier,Keine,1,Rassehund,1,K,Kleinwüchsig,1,2002,12,12-Jährige,12,2,weiblich,2,brindle,1
2,2015,D,695,40,40- bis 49-Jährige,5,1,männlich,1,6,Kreis 6,6,63,Oberstrass,63,Labrador Retriever,Keine,1,Rassehund,1,I,Rassentypenliste I,2,2012,2,2-Jährige,2,2,weiblich,2,braun,1
3,2015,D,893,60,60- bis 69-Jährige,7,2,weiblich,2,7,Kreis 7,7,71,Fluntern,71,Mittelschnauzer,Keine,1,Rassehund,1,I,Rassentypenliste I,2,2010,4,4-Jährige,4,2,weiblich,2,schwarz,1
4,2015,D,1177,50,50- bis 59-Jährige,6,1,männlich,1,10,Kreis 10,10,102,Wipkingen,102,Shih Tzu,Keine,1,Rassehund,1,K,Kleinwüchsig,1,2011,3,3-Jährige,3,1,männlich,1,schwarz/weiss,1

In [18]:
# prompt: Führe eine explorative Analyse durch. Welche Wertebereiche haben die Spalten? Welche Werte könnten für Missing Values stehen? Gibt es Ausreißer?

import pandas as pd

# Lade den Datensatz direkt mit pandas in die Umgebung
url = "https://raw.githubusercontent.com/redadmiral/python-for-journalists/refs/heads/main/datasets/kul100od1001%20(1).csv"
try:
  df = pd.read_csv(url)
except Exception as e:
  print(f"Fehler beim Laden der Datei: {e}")
  exit() # Stop execution if the file can't be loaded

# Wertebereiche der Spalten
print("Wertebereiche der Spalten:")
for col in df.columns:
  print(f"{col}: Min = {df[col].min()}, Max = {df[col].max()}")
  print(f"  Datentyp: {df[col].dtype}") # Hinzufügen des Datentyps

# Potenzielle Missing Values
print("\nPotenzielle Missing Values (Häufigkeit):")
for col in df.columns:
    print(f"{col}:")
    print(df[col].value_counts(dropna=False)) # Zeigt alle Werte und deren Häufigkeiten an, einschliesslich NaN

# Ausreißeranalyse (Beispiel mit Quantilen)
print("\nAusreißeranalyse (mit Quantilen):")

numeric_cols = df.select_dtypes(include=['number'])  # Filter for numeric columns

for col in numeric_cols.columns:
  q1 = df[col].quantile(0.25)
  q3 = df[col].quantile(0.75)
  iqr = q3 - q1
  lower_bound = q1 - 1.5 * iqr
  upper_bound = q3 + 1.5 * iqr
  outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
  print(f"Ausreißer in Spalte {col}:")
  print(outliers[[col]])  # Display only the column with outliers
  print("-" * 20)

# Weitere Ausreißerprüfung (z.B. Boxplots) könnte mit einem Plot erfolgen. Da dies in der Aufgabenstellung nicht explizit gefordert ist, wurde dies der Vollständigkeit halber in Kommentaren hinzugefügt.
#  import matplotlib.pyplot as plt
#  df.boxplot(column=numeric_cols)
# plt.show()

Wertebereiche der Spalten:
StichtagDatJahr: Min = 2015, Max = 2024
  Datentyp: int64
DatenstandCd: Min = D, Max = P
  Datentyp: object
HalterId: Min = 126, Max = 166003
  Datentyp: int64
AlterV10Cd: Min = 10, Max = 999
  Datentyp: int64
AlterV10Lang: Min = 10- bis 19-Jährige, Max = Unbekannt
  Datentyp: object
AlterV10Sort: Min = 2, Max = 99
  Datentyp: int64
SexCd: Min = 1, Max = 2
  Datentyp: int64
SexLang: Min = männlich, Max = weiblich
  Datentyp: object
SexSort: Min = 1, Max = 2
  Datentyp: int64
KreisCd: Min = 1, Max = 99
  Datentyp: int64
KreisLang: Min = Kreis 1, Max = Unbekannt (Stadt Zürich)
  Datentyp: object
KreisSort: Min = 1, Max = 13
  Datentyp: int64
QuarCd: Min = 10, Max = 999
  Datentyp: int64
QuarLang: Min = Affoltern, Max = Wollishofen
  Datentyp: object
QuarSort: Min = 10, Max = 999
  Datentyp: int64
Rasse1Text: Min = $Labradoodle$, Max = Zwergspitz
  Datentyp: object
Rasse2Text: Min = Aidi (Atlas Berghund), Max = Zwergspitz
  Datentyp: object
RasseMischlingCd: Min = 1, Max = 4
  Datentyp: int64
RasseMischlingLang: Min = Mischling, beide Rassen bekannt, Max = Rassehund
  Datentyp: object
RasseMischlingSort: Min = 1, Max = 4
  Datentyp: int64
RassentypCd: Min = I, Max = UN
  Datentyp: object
RassentypLang: Min = Kleinwüchsig, Max = Unbekannt
  Datentyp: object
RassentypSort: Min = 1, Max = 4
  Datentyp: int64
GebDatHundJahr: Min = 1994, Max = 9999
  Datentyp: int64
AlterVHundCd: Min = 0, Max = 999
  Datentyp: int64
AlterVHundLang: Min = 0-Jährige, Max = Unbekannt
  Datentyp: object
AlterVHundSort: Min = 0, Max = 999
  Datentyp: int64
SexHundCd: Min = 1, Max = 2
  Datentyp: int64
SexHundLang: Min = männlich, Max = weiblich
  Datentyp: object
SexHundSort: Min = 1, Max = 2
  Datentyp: int64
HundefarbeText: Min = Fox/Red, Max = zobel/weiss
  Datentyp: object
AnzHunde: Min = 1, Max = 3
  Datentyp: int64

Potenzielle Missing Values (Häufigkeit):
StichtagDatJahr:
StichtagDatJahr
2024    9821
2023    9495
2022    9149
2021    8546
2020    7815
2019    7616
2018    7372
2017    7124
2015    6951
2016    6899
Name: count, dtype: int64
DatenstandCd:
DatenstandCd
D    70967
P     9821
Name: count, dtype: int64
HalterId:
HalterId
105585    119
82671      79
82452      77
87913      76
81726      61
         ...
154189      1
154259      1
154303      1
154330      1
166003      1
Name: count, Length: 16821, dtype: int64
AlterV10Cd:
AlterV10Cd
30     18275
50     17122
40     16832
60     11159
20      7417
70      7181
80      2144
999      237
90       222
10       199
Name: count, dtype: int64
AlterV10Lang:
AlterV10Lang
30- bis 39-Jährige    18275
50- bis 59-Jährige    17122
40- bis 49-Jährige    16832
60- bis 69-Jährige    11159
20- bis 29-Jährige     7417
70- bis 79-Jährige     7181
80- bis 89-Jährige     2144
Unbekannt               237
90- bis 99-Jährige      222
10- bis 19-Jährige      199
Name: count, dtype: int64
AlterV10Sort:
AlterV10Sort
4     18275
6     17122
5     16832
7     11159
3      7417
8      7181
9      2144
99      237
10      222
2       199
Name: count, dtype: int64
SexCd:
SexCd
2    55756
1    25032
Name: count, dtype: int64
SexLang:
SexLang
weiblich    55756
männlich    25032
Name: count, dtype: int64
SexSort:
SexSort
2    55756
1    25032
Name: count, dtype: int64
KreisCd:
KreisCd
11    13560
7     11180
9     10029
2      7669
10     7412
3      7280
12     5651
6      5551
8      4304
4      4201
5      2657
1      1289
99        5
Name: count, dtype: int64
KreisLang:
KreisLang
Kreis 11                    13560
Kreis 7                     11180
Kreis 9                     10029
Kreis 2                      7669
Kreis 10                     7412
Kreis 3                      7280
Kreis 12                     5651
Kreis 6                      5551
Kreis 8                      4304
Kreis 4                      4201
Kreis 5                      2657
Kreis 1                      1289
Unbekannt (Stadt Zürich)        5
Name: count, dtype: int64
KreisSort:
KreisSort
11    13560
7     11180
9     10029
2      7669
10     7412
3      7280
12     5651
6      5551
8      4304
4      4201
5      2657
1      1289
13        5
Name: count, dtype: int64
QuarCd:
QuarCd
92     6303
101    5189
119    4785
111    4661
115    4114
21     3964
74     3785
91     3725
61     3235
31     3020
72     2916
71     2652
34     2574
122    2394
24     2355
63     2311
102    2223
42     2052
123    1924
73     1827
33     1684
52     1604
82     1536
44     1517
83     1432
23     1350
81     1333
121    1333
51     1053
11      735
41      627
13      289
14      163
12      101
999       5
40        5
60        5
80        3
30        2
10        1
90        1
Name: count, dtype: int64
QuarLang:
QuarLang
Altstetten                  6303
Höngg                       5189
Seebach                     4785
Affoltern                   4661
Oerlikon                    4114
Wollishofen                 3964
Witikon                     3785
Albisrieden                 3725
Unterstrass                 3235
Alt-Wiedikon                3020
Hottingen                   2916
Fluntern                    2652
Sihlfeld                    2574
Schwamendingen-Mitte        2394
Enge                        2355
Oberstrass                  2311
Wipkingen                   2223
Langstrasse                 2052
Hirzenbach                  1924
Hirslanden                  1827
Friesenberg                 1684
Escher Wyss                 1604
Mühlebach                   1536
Hard                        1517
Weinegg                     1432
Leimbach                    1350
Seefeld                     1333
Saatlen                     1333
Gewerbeschule               1053
Rathaus                      735
Werd                         627
Lindenhof                    289
City                         163
Hochschulen                  101
Unbekannt (Stadt Zürich)       5
Unbekannt (Kreis 4)            5
Unbekannt (Kreis 6)            5
Unbekannt (Kreis 8)            3
Unbekannt (Kreis 3)            2
Unbekannt (Kreis 1)            1
Unbekannt (Kreis 9)            1
Name: count, dtype: int64
QuarSort:
QuarSort
92     6303
101    5189
119    4785
111    4661
115    4114
21     3964
74     3785
91     3725
61     3235
31     3020
72     2916
71     2652
34     2574
122    2394
24     2355
63     2311
102    2223
42     2052
123    1924
73     1827
33     1684
52     1604
82     1536
44     1517
83     1432
23     1350
81     1333
121    1333
51     1053
11      735
41      627
13      289
14      163
12      101
999       5
40        5
60        5
80        3
30        2
10        1
90        1
Name: count, dtype: int64
Rasse1Text:
Rasse1Text
Unbekannt                        10313
Chihuahua                         5352
Labrador Retriever                4797
Yorkshire Terrier                 3041
Jack Russel Terrier               2885
                                 ...
Lemon Walker Hound                   1
Laika                                1
Italienische Bracke                  1
Grand Basset Griffon Vendeen         1
Puli (Ungarischer Hirtenhund)        1
Name: count, Length: 397, dtype: int64
Rasse2Text:
Rasse2Text
Keine                    57628
Unbekannt                16502
Pudel                      869
Labrador Retriever         404
Pomeranian                 314
                         ...
Altdeutscher Hütehund        1
Kaukasischer Schäfer         1
Border                       1
Welsh Corgi                  1
Samojede                     1
Name: count, Length: 191, dtype: int64
RasseMischlingCd:
RasseMischlingCd
1    57628
4    10313
2     6658
3     6189
Name: count, dtype: int64
RasseMischlingLang:
RasseMischlingLang
Rassehund                               57628
Mischling, beide Rassen unbekannt       10313
Mischling, beide Rassen bekannt          6658
Mischling, sekundäre Rasse unbekannt     6189
Name: count, dtype: int64
RasseMischlingSort:
RasseMischlingSort
1    57628
4    10313
2     6658
3     6189
Name: count, dtype: int64
RassentypCd:
RassentypCd
K     49442
I     31193
II      111
UN       42
Name: count, dtype: int64
RassentypLang:
RassentypLang
Kleinwüchsig           49442
Rassentypenliste I     31193
Rassentypenliste II      111
Unbekannt                 42
Name: count, dtype: int64
RassentypSort:
RassentypSort
1    49442
2    31193
3      111
4       42
Name: count, dtype: int64
GebDatHundJahr:
GebDatHundJahr
2014    5724
2012    5719
2013    5645
2015    5238
2016    5147
2010    4923
2011    4881
2017    4665
2020    4455
2009    4368
2018    4185
2008    3862
2019    3351
2021    3286
2007    3254
2006    2650
2005    2199
2004    1836
2022    1797
2003    1128
2002     800
2023     711
2001     473
2000     270
1999     112
1998      70
1997      22
9999       8
1996       4
1994       2
2024       2
1995       1
Name: count, dtype: int64
AlterVHundCd:
AlterVHundCd
1      7553
2      7435
3      6943
0      6868
4      6336
5      6185
6      5892
7      5611
8      5254
9      4932
10     4538
11     4002
12     3296
13     2559
14     1709
15      956
16      438
17      164
18       58
19       20
20       12
21       11
999       8
22        6
23        2
Name: count, dtype: int64
AlterVHundLang:
AlterVHundLang
1-Jährige     7553
2-Jährige     7435
3-Jährige     6943
0-Jährige     6868
4-Jährige     6336
5-Jährige     6185
6-Jährige     5892
7-Jährige     5611
8-Jährige     5254
9-Jährige     4932
10-Jährige    4538
11-Jährige    4002
12-Jährige    3296
13-Jährige    2559
14-Jährige    1709
15-Jährige     956
16-Jährige     438
17-Jährige     164
18-Jährige      58
19-Jährige      20
20-Jährige      12
21-Jährige      11
Unbekannt        8
22-Jährige       6
23-Jährige       2
Name: count, dtype: int64
AlterVHundSort:
AlterVHundSort
1      7553
2      7435
3      6943
0      6868
4      6336
5      6185
6      5892
7      5611
8      5254
9      4932
10     4538
11     4002
12     3296
13     2559
14     1709
15      956
16      438
17      164
18       58
19       20
20       12
21       11
999       8
22        6
23        2
Name: count, dtype: int64
SexHundCd:
SexHundCd
2    40429
1    40359
Name: count, dtype: int64
SexHundLang:
SexHundLang
weiblich    40429
männlich    40359
Name: count, dtype: int64
SexHundSort:
SexHundSort
2    40429
1    40359
Name: count, dtype: int64
HundefarbeText:
HundefarbeText
schwarz                   8569
tricolor                  7232
weiss                     6540
braun                     6313
schwarz/weiss             4990
                          ...
red-schoko/merle/weiss       2
beige/schwarz/grau           2
dapple                       2
schwarz/weiss/grau           2
pink/chocolate               1
Name: count, Length: 215, dtype: int64
AnzHunde:
AnzHunde
1    80530
2      255
3        3
Name: count, dtype: int64

Ausreißeranalyse (mit Quantilen):
Ausreißer in Spalte StichtagDatJahr:
Empty DataFrame
Columns: [StichtagDatJahr]
Index: []
--------------------
Ausreißer in Spalte HalterId:
       HalterId
0           126
1           574
2           695
3           893
4          1177
...         ...
71009     21216
71010     21248
71011     21681
71012     21853
71013     21865

[625 rows x 1 columns]
--------------------
Ausreißer in Spalte AlterV10Cd:
       AlterV10Cd
27            999
36            999
47            999
49            999
157           999
...           ...
72718         999
73012         999
76757         999
76758         999
76759         999

[237 rows x 1 columns]
--------------------
Ausreißer in Spalte AlterV10Sort:
       AlterV10Sort
27               99
36               99
47               99
49               99
157              99
...             ...
72718            99
73012            99
76757            99
76758            99
76759            99

[237 rows x 1 columns]
--------------------
Ausreißer in Spalte SexCd:
Empty DataFrame
Columns: [SexCd]
Index: []
--------------------
Ausreißer in Spalte SexSort:
Empty DataFrame
Columns: [SexSort]
Index: []
--------------------
Ausreißer in Spalte KreisCd:
       KreisCd
36          99
6985        99
63687       99
66252       99
73012       99
--------------------
Ausreißer in Spalte KreisSort:
Empty DataFrame
Columns: [KreisSort]
Index: []
--------------------
Ausreißer in Spalte QuarCd:
       QuarCd
36        999
6985      999
63687     999
66252     999
73012     999
--------------------
Ausreißer in Spalte QuarSort:
       QuarSort
36          999
6985        999
63687       999
66252       999
73012       999
--------------------
Ausreißer in Spalte RasseMischlingCd:
       RasseMischlingCd
18                    4
23                    4
24                    4
39                    4
45                    4
...                 ...
80754                 4
80757                 4
80764                 4
80785                 4
80787                 4

[10313 rows x 1 columns]
--------------------
Ausreißer in Spalte RasseMischlingSort:
       RasseMischlingSort
18                      4
23                      4
24                      4
39                      4
45                      4
...                   ...
80754                   4
80757                   4
80764                   4
80785                   4
80787                   4

[10313 rows x 1 columns]
--------------------
Ausreißer in Spalte RassentypSort:
       RassentypSort
35716              4
45005              4
52141              4
52209              4
52287              4
52302              4
52448              4
52991              4
53460              4
53484              4
53699              4
53712              4
57116              4
57374              4
59906              4
59986              4
59994              4
59995              4
60004              4
60062              4
60072              4
60224              4
60261              4
60267              4
60448              4
60452              4
60636              4
61012              4
62072              4
62515              4
62538              4
70253              4
70655              4
71533              4
71793              4
71973              4
78933              4
78935              4
79288              4
79857              4
80032              4
80558              4
--------------------
Ausreißer in Spalte GebDatHundJahr:
       GebDatHundJahr
2035             1995
2632             9999
3227             1994
4525             9999
5584             9999
6236             1996
9429             9999
9993             1994
11247            9999
12827            1996
16151            9999
19244            1996
23071            9999
25907            1996
35341            9999
--------------------
Ausreißer in Spalte AlterVHundCd:
       AlterVHundCd
2632            999
3227             20
4525            999
5584            999
9429            999
9993             21
11247           999
16151           999
19244            20
21869            20
21979            20
23071           999
25907            21
29173            21
29277            21
29648            20
35341           999
36736            22
37169            21
44522            23
44937            22
52850            20
53620            20
55485            20
60258            21
60446            20
61943            21
61973            20
64343            21
68636            22
68799            21
71411            22
72066            20
72682            20
73604            22
77535            23
77683            22
78342            21
80386            21
--------------------
Ausreißer in Spalte AlterVHundSort:
       AlterVHundSort
2632              999
3227               20
4525              999
5584              999
9429              999
9993               21
11247             999
16151             999
19244              20
21869              20
21979              20
23071             999
25907              21
29173              21
29277              21
29648              20
35341             999
36736              22
37169              21
44522              23
44937              22
52850              20
53620              20
55485              20
60258              21
60446              20
61943              21
61973              20
64343              21
68636              22
68799              21
71411              22
72066              20
72682              20
73604              22
77535              23
77683              22
78342              21
80386              21
--------------------
Ausreißer in Spalte SexHundCd:
Empty DataFrame
Columns: [SexHundCd]
Index: []
--------------------
Ausreißer in Spalte SexHundSort:
Empty DataFrame
Columns: [SexHundSort]
Index: []
--------------------
Ausreißer in Spalte AnzHunde:
       AnzHunde
217           2
499           2
647           3
832           2
1168          2
...         ...
79263         2
79970         2
80412         2
80473         2
80587         2

[258 rows x 1 columns]
--------------------

1.1 Beschreibe mit deinen eigenen Worten welche Daten in dem Datensatz erfasst sind. Erstelle einen detaillierten Steckbrief für die ersten fünf Spalten.

Der Datensatz führt auf, welcher Halter in welchem Jahr welche Hunde gehalten hat. Im Datensatz ist das Geschlecht und Alter des Halters aufgeführt sowie der Wohnort als Kreis und Quartiert aufgeführt. Für die Hunde ist die Rasse und das Alter aufgeführt sowie die Farbe des Hundes. Die Rasse ist weiter unterteilt. Für Hund und Halter ist das Geburtsjahr angegeben.

Der Datensatz ist nach Jahren strukturiert. Der gleiche Hund wird in mehreren Jahren geführt.

```
Prompt: Gib mir eine Zusammenfassung der ersten fünf Spalten. Geh dabei genau darauf ein, welche Wertebereiche angegeben sind und um welchen Datentyp es sich handelt.
```

## StichtagDatJahr (Datentyp: Kategoriell):

Enthält das Jahr des Stichtags, an dem die Daten erhoben wurden.
Wertebereich: 2015 bis 2024.
Beispielwerte: 2015, 2020, 2024.
Keine fehlenden Werte (Anzahl: 80.788).

## DatenstandCd (Datentyp: Kategoriell):

Gibt den Stand der Daten an.
Mögliche Werte: 'D' und 'P'.
'D' ist der häufigste Wert mit 70.967 Einträgen.

'D': Steht für "definitiv".
'P': Steht für "provisorisch".

## HalterId (Datentyp: Kategoriell):

Eine eindeutige Identifikationsnummer für die Halter.
Wertebereich: 126 bis 166.003.
Beispielwerte: 126, 574, 121.862.
Keine fehlenden Werte.

## AlterV10Cd (Datentyp: Numerisch):

Altersgruppe des Halters in Codierung.
Wertebereich: 10 bis 999. Der Wert 999 steht für "Unbekannt".
Häufige Werte: 30, 40, 60.
AlterV10Lang (Datentyp: object):

## Altersgruppe des Halters als Text (Kategoriell).

Mögliche Werte:
"10- bis 19-Jährige", "30- bis 39-Jährige", …, "90- bis 99-Jährige".
"Unbekannt" ist ebenfalls vorhanden.
Häufigste Kategorie: "30- bis 39-Jährige" mit 18.275 Einträgen.

1.2 Wie sind in dem Datensatz fehlende Werte gespeichert?

Fehlende Werte sind als "Unbekannt" oder als 999 oder 9999 gespeichert.

1.3 Ersetze fehlende Werte durch pd.NA.

In [20]:
# prompt: Ersetze fehlende Werte im Datensatz durch pd.NA. Fehlende Werte sind als "Unbekannt", "Unbekannt (Stadt Zürich)" oder als 999 oder 9999 gespeichert. Gib danach alle zeilen zurück (maximal jedoch 25), die ein pd.NA enthalten.

import pandas as pd

# Lade den Datensatz (der Code zum Laden des Datensatzes bleibt unverändert)
url = "https://raw.githubusercontent.com/redadmiral/python-for-journalists/refs/heads/main/datasets/kul100od1001%20(1).csv"
try:
  df = pd.read_csv(url)
except Exception as e:
  print(f"Fehler beim Laden der Datei: {e}")
  exit()

# Ersetze die fehlenden Werte durch pd.NA
missing_values = ["Unbekannt", "Unbekannt (Stadt Zürich)", 999, 9999]
df = df.replace(missing_values, pd.NA)

# Gib die ersten 25 Zeilen mit pd.NA aus
df[df.isna().any(axis=1)].head(25)

,StichtagDatJahr,DatenstandCd,HalterId,AlterV10Cd,AlterV10Lang,AlterV10Sort,SexCd,SexLang,SexSort,KreisCd,KreisLang,KreisSort,QuarCd,QuarLang,QuarSort,Rasse1Text,Rasse2Text,RasseMischlingCd,RasseMischlingLang,RasseMischlingSort,RassentypCd,RassentypLang,RassentypSort,GebDatHundJahr,AlterVHundCd,AlterVHundLang,AlterVHundSort,SexHundCd,SexHundLang,SexHundSort,HundefarbeText,AnzHunde
9,2015,D,4215,40,40- bis 49-Jährige,5,2,weiblich,2,8,Kreis 8,8,81,Seefeld,81,Bergamasker,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,I,Rassentypenliste I,2,2001,13,13-Jährige,13,2,weiblich,2,grau/braun,1
10,2015,D,4215,40,40- bis 49-Jährige,5,2,weiblich,2,8,Kreis 8,8,81,Seefeld,81,Bergamasker,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,I,Rassentypenliste I,2,2004,10,10-Jährige,10,2,weiblich,2,schwarz,1
11,2015,D,4215,40,40- bis 49-Jährige,5,2,weiblich,2,8,Kreis 8,8,81,Seefeld,81,Border Collie,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,I,Rassentypenliste I,2,2001,13,13-Jährige,13,1,männlich,1,schwarz,1
12,2015,D,4239,60,60- bis 69-Jährige,7,2,weiblich,2,10,Kreis 10,10,102,Wipkingen,102,Pinscher,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,K,Kleinwüchsig,1,2013,1,1-Jährige,1,2,weiblich,2,braun/schwarz,1
18,2015,D,4726,50,50- bis 59-Jährige,6,1,männlich,1,5,Kreis 5,5,52,Escher Wyss,52,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,I,Rassentypenliste I,2,2007,7,7-Jährige,7,1,männlich,1,schwarz,1
23,2015,D,4908,50,50- bis 59-Jährige,6,1,männlich,1,5,Kreis 5,5,51,Gewerbeschule,51,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,1999,15,15-Jährige,15,2,weiblich,2,hellbraun,1
24,2015,D,4908,50,50- bis 59-Jährige,6,1,männlich,1,5,Kreis 5,5,51,Gewerbeschule,51,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,2000,14,14-Jährige,14,1,männlich,1,schwarz/braun/weiss,1
27,2015,D,5225,<NA>,<NA>,99,1,männlich,1,3,Kreis 3,3,34,Sihlfeld,34,Lagotto Romagnolo,Keine,1,Rassehund,1,I,Rassentypenliste I,2,2007,7,7-Jährige,7,1,männlich,1,braun,1
36,2015,D,6364,<NA>,<NA>,99,1,männlich,1,99,<NA>,13,<NA>,<NA>,<NA>,Appenzeller Sennenhund,Border Collie,2,"Mischling, beide Rassen bekannt",2,I,Rassentypenliste I,2,2013,1,1-Jährige,1,1,männlich,1,tricolor,1
39,2015,D,6600,50,50- bis 59-Jährige,6,1,männlich,1,6,Kreis 6,6,63,Oberstrass,63,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,2004,10,10-Jährige,10,1,männlich,1,braun,1
41,2015,D,6629,50,50- bis 59-Jährige,6,2,weiblich,2,4,Kreis 4,4,41,Werd,41,Spitz,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,K,Kleinwüchsig,1,1997,17,17-Jährige,17,2,weiblich,2,hellbraun,1
45,2015,D,12409,60,60- bis 69-Jährige,7,1,männlich,1,9,Kreis 9,9,91,Albisrieden,91,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,2008,6,6-Jährige,6,2,weiblich,2,weiss/schwarz/braun,1
47,2015,D,13140,<NA>,<NA>,99,1,männlich,1,3,Kreis 3,3,33,Friesenberg,33,Jack Russel Terrier,Keine,1,Rassehund,1,K,Kleinwüchsig,1,2002,12,12-Jährige,12,2,weiblich,2,tricolor,1
49,2015,D,14693,<NA>,<NA>,99,1,männlich,1,11,Kreis 11,11,111,Affoltern,111,Chihuahua,Keine,1,Rassehund,1,K,Kleinwüchsig,1,2007,7,7-Jährige,7,2,weiblich,2,weiss/grau,1
52,2015,D,18360,40,40- bis 49-Jährige,5,2,weiblich,2,3,Kreis 3,3,31,Alt-Wiedikon,31,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,I,Rassentypenliste I,2,2010,4,4-Jährige,4,2,weiblich,2,weiss,1
56,2015,D,19652,50,50- bis 59-Jährige,6,2,weiblich,2,2,Kreis 2,2,24,Enge,24,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,2007,7,7-Jährige,7,2,weiblich,2,braun,1
57,2015,D,19839,50,50- bis 59-Jährige,6,1,männlich,1,2,Kreis 2,2,23,Leimbach,23,Labrador Retriever,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,I,Rassentypenliste I,2,2009,5,5-Jährige,5,2,weiblich,2,schwarz,1
60,2015,D,20483,60,60- bis 69-Jährige,7,1,männlich,1,12,Kreis 12,12,121,Saatlen,121,Terrier,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,K,Kleinwüchsig,1,2002,12,12-Jährige,12,1,männlich,1,black/tan,1
66,2015,D,21828,70,70- bis 79-Jährige,8,2,weiblich,2,7,Kreis 7,7,74,Witikon,74,Spitz,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,K,Kleinwüchsig,1,2013,1,1-Jährige,1,1,männlich,1,weiss/beige,1
70,2015,D,22479,50,50- bis 59-Jährige,6,1,männlich,1,7,Kreis 7,7,72,Hottingen,72,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,2001,13,13-Jährige,13,2,weiblich,2,grau gestromt,1
80,2015,D,24242,40,40- bis 49-Jährige,5,2,weiblich,2,11,Kreis 11,11,119,Seebach,119,Belgischer Schäferhund,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,I,Rassentypenliste I,2,2003,11,11-Jährige,11,1,männlich,1,braun/schwarz,1
81,2015,D,24246,50,50- bis 59-Jährige,6,1,männlich,1,10,Kreis 10,10,102,Wipkingen,102,Bergamasker,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,I,Rassentypenliste I,2,2001,13,13-Jährige,13,1,männlich,1,schwarz/braun,1
83,2015,D,44439,70,70- bis 79-Jährige,8,1,männlich,1,7,Kreis 7,7,74,Witikon,74,Border Collie,<NA>,3,"Mischling, sekundäre Rasse unbekannt",3,I,Rassentypenliste I,2,1999,15,15-Jährige,15,1,männlich,1,schwarz/weiss,1
92,2015,D,60402,60,60- bis 69-Jährige,7,2,weiblich,2,11,Kreis 11,11,111,Affoltern,111,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,2013,1,1-Jährige,1,1,männlich,1,dunkelbraun,1
97,2015,D,63468,80,80- bis 89-Jährige,9,1,männlich,1,7,Kreis 7,7,74,Witikon,74,<NA>,<NA>,4,"Mischling, beide Rassen unbekannt",4,K,Kleinwüchsig,1,2003,11,11-Jährige,11,1,männlich,1,braun/weiss,1

## Analyse

2.1 Welche Hunderasse ist die häufigste im Quartier Altstetten?

In [21]:
# prompt: Welche Hunderasse ist die häufigste im Quartier Altstetten?
# Der Datensatz ist wie folgt strukturiert:
# StichtagDatJahr	DatenstandCd	HalterId	AlterV10Cd	AlterV10Lang	AlterV10Sort	SexCd	SexLang	SexSort	KreisCd	KreisLang	KreisSort	QuarCd	QuarLang	QuarSort	Rasse1Text	Rasse2Text	RasseMischlingCd	RasseMischlingLang	RasseMischlingSort	RassentypCd	RassentypLang	RassentypSort	GebDatHundJahr	AlterVHundCd	AlterVHundLang	AlterVHundSort	SexHundCd	SexHundLang	SexHundSort	HundefarbeText	AnzHunde
# 0	2015	D	126	60	60- bis 69-Jährige	7	1	männlich	1	9	Kreis 9	9	92	Altstetten	92	Welsh Terrier	Keine	1	Rassehund	1	K	Kleinwüchsig	1	2011	3	3-Jährige	3	2	weiblich	2	schwarz/braun	1
# 1	2015	D	574	60	60- bis 69-Jährige	7	2	weiblich	2	2	Kreis 2	2	23	Leimbach	23	Cairn Terrier	Keine	1	Rassehund	1	K	Kleinwüchsig	1	2002	12	12-Jährige	12	2	weiblich	2	brindle	1
# 2	2015	D	695	40	40- bis 49-Jährige	5	1	männlich	1	6	Kreis 6	6	63	Oberstrass	63	Labrador Retriever	Keine	1	Rassehund	1	I	Rassentypenliste I	2	2012	2	2-Jährige	2	2	weiblich	2	braun	1
# 3	2015	D	893	60	60- bis 69-Jährige	7	2	weiblich	2	7	Kreis 7	7	71	Fluntern	71	Mittelschnauzer	Keine	1	Rassehund	1	I	Rassentypenliste I	2	2010	4	4-Jährige	4	2	weiblich	2	schwarz	1
# 4	2015	D	1177	50	50- bis 59-Jährige	6	1	männlich	1	10	Kreis 10	10	102	Wipkinge

# Filter the DataFrame for the Altstetten district
altstetten_df = df[df['QuarLang'] == 'Altstetten']

# Count the occurrences of each dog breed in Altstetten
breed_counts = altstetten_df['Rasse1Text'].value_counts()

# Get the most frequent dog breed
most_frequent_breed = breed_counts.index[0]

print(f"Die häufigste Hunderasse in Altstetten ist: {most_frequent_breed}")

Die häufigste Hunderasse in Altstetten ist: Chihuahua

In [22]:
# prompt: Gib mir alle Hunderassen, die in Altstetten gemeldet sind und sortiere sie absteigend nach Häufigkeit.
# Der Datensatz ist wie folgt strukturiert:
# StichtagDatJahr	DatenstandCd	HalterId	AlterV10Cd	AlterV10Lang	AlterV10Sort	SexCd	SexLang	SexSort	KreisCd	KreisLang	KreisSort	QuarCd	QuarLang	QuarSort	Rasse1Text	Rasse2Text	RasseMischlingCd	RasseMischlingLang	RasseMischlingSort	RassentypCd	RassentypLang	RassentypSort	GebDatHundJahr	AlterVHundCd	AlterVHundLang	AlterVHundSort	SexHundCd	SexHundLang	SexHundSort	HundefarbeText	AnzHunde
# 0	2015	D	126	60	60- bis 69-Jährige	7	1	männlich	1	9	Kreis 9	9	92	Altstetten	92	Welsh Terrier	Keine	1	Rassehund	1	K	Kleinwüchsig	1	2011	3	3-Jährige	3	2	weiblich	2	schwarz/braun	1
# 1	2015	D	574	60	60- bis 69-Jährige	7	2	weiblich	2	2	Kreis 2	2	23	Leimbach	23	Cairn Terrier	Keine	1	Rassehund	1	K	Kleinwüchsig	1	2002	12	12-Jährige	12	2	weiblich	2	brindle	1
# 2	2015	D	695	40	40- bis 49-Jährige	5	1	männlich	1	6	Kreis 6	6	63	Oberstrass	63	Labrador Retriever	Keine	1	Rassehund	1	I	Rassentypenliste I	2	2012	2	2-Jährige	2	2	weiblich	2	braun	1
# 3	2015	D	893	60	60- bis 69-Jährige	7	2	weiblich	2	7	Kreis 7	7	71	Fluntern	71	Mittelschnauzer	Keine	1	Rassehund	1	I	Rassentypenliste I	2	2010	4	4-Jährige	4	2	weiblich	2	schwarz	1
# 4	2015	D	1177	50	50- bis 59-Jährige	6	1	männlich	1	10	Kreis 10	10	102	Wipkinge

import pandas as pd

# Load the dataset (assuming df is already loaded as in the previous code)
url = "https://raw.githubusercontent.com/redadmiral/python-for-journalists/refs/heads/main/datasets/kul100od1001%20(1).csv"
try:
  df = pd.read_csv(url)
except Exception as e:
  print(f"Fehler beim Laden der Datei: {e}")
  exit()

# Filter for Altstetten and count dog breeds
altstetten_dogs = df[df['QuarLang'] == 'Altstetten']
breed_counts = altstetten_dogs['Rasse1Text'].value_counts()

# Sort breeds by frequency in descending order
sorted_breeds = breed_counts.sort_values(ascending=False)

# Print the sorted results
sorted_breeds

Rasse1Text
Unbekannt                831
Chihuahua                585
Yorkshire Terrier        284
Labrador Retriever       269
Jack Russel Terrier      249
                        ...
Spanischer Windhund        1
Bedlington Terrier         1
Deutscher Vorstehhund      1
Welsh Corgi                1
Spinone                    1
Name: count, Length: 197, dtype: int64

2.2 In welchem Jahr waren die meisten Chihuahuas in ganz Zürich gemeldet?

In [23]:
# prompt: 2.2 In welchem Jahr waren die meisten Chihuahuas in ganz Zürich gemeldet?

# Filter for Chihuahuas
chihuahua_df = df[df['Rasse1Text'] == 'Chihuahua']

# Count the number of Chihuahuas per year
chihuahua_counts_per_year = chihuahua_df['StichtagDatJahr'].value_counts()

# Find the year with the most Chihuahuas
year_with_most_chihuahuas = chihuahua_counts_per_year.index[0]

print(f"Die meisten Chihuahuas waren im Jahr {year_with_most_chihuahuas} in Zürich gemeldet.")

Die meisten Chihuahuas waren im Jahr 2020 in Zürich gemeldet.

In [26]:
# prompt: Zähle auf wie viele Chihuahuas pro Jahr für alle Jahre gemeldet wurden. Sortiere absteigend.

# Load the dataset (assuming df is already loaded as in the previous code)
url = "https://raw.githubusercontent.com/redadmiral/python-for-journalists/refs/heads/main/datasets/kul100od1001%20(1).csv"
try:
  df = pd.read_csv(url)
except Exception as e:
  print(f"Fehler beim Laden der Datei: {e}")
  exit()

# Filter for Chihuahuas
chihuahua_df = df[df['Rasse1Text'] == 'Chihuahua']

# Group by year and count Chihuahuas
chihuahua_counts = chihuahua_df.groupby('StichtagDatJahr')['Rasse1Text'].count()

# Sort in descending order
sorted_chihuahua_counts = chihuahua_counts.sort_values(ascending=False)

# Print the result
sorted_chihuahua_counts

StichtagDatJahr
2020    570
2019    566
2021    565
2018    558
2022    541
2023    538
2024    524
2017    513
2015    493
2016    484
Name: Rasse1Text, dtype: int64

In [32]:
# prompt: Speichere mir die Variable sorted_chihuahua_counts als csv.

sorted_chihuahua_counts.to_csv('sorted_chihuahua_counts.csv')

2.3 In welchem Quartier gibt es die meisten Pudel pro Einwohner\*in?

Nutze für deine Berechnung die aktuellsten Bevölkerungszahlen aus [der verlinkten CSV-Datei](https://github.com/redadmiral/python-for-journalists/blob/main/datasets/zurich_population.csv).

In [28]:
# prompt: 2.3 Erstelle eine Dataframe pop mit Einwohnerzahlen aus folgenden Daten:
# Statistische Quartiere,BFS-Code,Einwohner Dez. 2023
# Rathaus,261011,3343
# Hochschulen,261012,695
# Lindenhof,261013,1046
# City,261014,806
# Wollishofen,261021,21181
# Leimbach,261023,6423
# Enge,261024,10035
# Alt-Wiedikon,261031,18115
# Friesenberg,261033,11082
# Sihlfeld,261034,21753
# Werd,261041,4650
# Langstrasse,261042,11982
# Hard,261044,13312
# Gewerbeschule,261051,9689
# Escher Wyss,261052,6185
# Unterstrass,261061,24801
# Oberstrass,261063,10887
# Fluntern,261071,8783
# Hottingen,261072,11489
# Hirslanden,261073,7685
# Witikon,261074,11690
# Seefeld,261081,5777
# Mühlebach,261082,6494
# Weinegg,261083,5589
# Albisrieden,261091,23526
# Altstetten,261092,36315
# Höngg,261101,24674
# Wipkingen,261102,16737
# Affoltern,261111,27165
# Oerlikon,261115,23959
# Seebach,261119,27677
# Saatlen,261121,8865
# Schwamendingen-Mitte,261122,11421
# Hirzenbach,261123,13251

import pandas as pd

# Create the population DataFrame
data = {'Statistische Quartiere': ['Rathaus', 'Hochschulen', 'Lindenhof', 'City', 'Wollishofen', 'Leimbach', 'Enge', 'Alt-Wiedikon', 'Friesenberg', 'Sihlfeld', 'Werd', 'Langstrasse', 'Hard', 'Gewerbeschule', 'Escher Wyss', 'Unterstrass', 'Oberstrass', 'Fluntern', 'Hottingen', 'Hirslanden', 'Witikon', 'Seefeld', 'Mühlebach', 'Weinegg', 'Albisrieden', 'Altstetten', 'Höngg', 'Wipkingen', 'Affoltern', 'Oerlikon', 'Seebach', 'Saatlen', 'Schwamendingen-Mitte', 'Hirzenbach'],
        'BFS-Code': [261011, 261012, 261013, 261014, 261021, 261023, 261024, 261031, 261033, 261034, 261041, 261042, 261044, 261051, 261052, 261061, 261063, 261071, 261072, 261073, 261074, 261081, 261082, 261083, 261091, 261092, 261101, 261102, 261111, 261115, 261119, 261121, 261122, 261123],
        'Einwohner Dez. 2023': [3343, 695, 1046, 806, 21181, 6423, 10035, 18115, 11082, 21753, 4650, 11982, 13312, 9689, 6185, 24801, 10887, 8783, 11489, 7685, 11690, 5777, 6494, 5589, 23526, 36315, 24674, 16737, 27165, 23959, 27677, 8865, 11421, 13251]}
pop = pd.DataFrame(data)

# Previous code (assuming df is already loaded as in the previous examples)
url = "https://raw.githubusercontent.com/redadmiral/python-for-journalists/refs/heads/main/datasets/kul100od1001%20(1).csv"
try:
  df = pd.read_csv(url)
except Exception as e:
  print(f"Fehler beim Laden der Datei: {e}")
  exit()

# ... (rest of your existing code)

# Now you can use the 'pop' DataFrame
pop

   Statistische Quartiere  BFS-Code  Einwohner Dez. 2023
0                 Rathaus    261011                 3343
1             Hochschulen    261012                  695
2               Lindenhof    261013                 1046
3                    City    261014                  806
4             Wollishofen    261021                21181
5                Leimbach    261023                 6423
6                    Enge    261024                10035
7            Alt-Wiedikon    261031                18115
8             Friesenberg    261033                11082
9                Sihlfeld    261034                21753
10                   Werd    261041                 4650
11            Langstrasse    261042                11982
12                   Hard    261044                13312
13          Gewerbeschule    261051                 9689
14            Escher Wyss    261052                 6185
15            Unterstrass    261061                24801
16             Oberstrass    261063                10887
17               Fluntern    261071                 8783
18              Hottingen    261072                11489
19             Hirslanden    261073                 7685
20                Witikon    261074                11690
21                Seefeld    261081                 5777
22              Mühlebach    261082                 6494
23                Weinegg    261083                 5589
24            Albisrieden    261091                23526
25             Altstetten    261092                36315
26                  Höngg    261101                24674
27              Wipkingen    261102                16737
28              Affoltern    261111                27165
29               Oerlikon    261115                23959
30                Seebach    261119                27677
31                Saatlen    261121                 8865
32   Schwamendingen-Mitte    261122                11421
33             Hirzenbach    261123                13251

In [29]:
# prompt: In welchem Quartier gibt es die meisten Pudel pro Einwohner*in?

# Merge the two dataframes
merged_df = pd.merge(df, pop, left_on='QuarLang', right_on='Statistische Quartiere', how='inner')

# Filter for Poodles
poodle_df = merged_df[merged_df['Rasse1Text'] == 'Pudel']

# Group by district and count poodles
poodle_counts = poodle_df.groupby('QuarLang')['Rasse1Text'].count()

# Calculate poodles per capita
poodles_per_capita = poodle_counts / merged_df.groupby('QuarLang')['Einwohner Dez. 2023'].mean()

# Find the district with the most poodles per capita
district_with_most_poodles = poodles_per_capita.idxmax()
print(f"Das Quartier mit den meisten Pudel pro Einwohner ist: {district_with_most_poodles}")

Das Quartier mit den meisten Pudel pro Einwohner ist: City

In [31]:
# prompt: Gib mir an in welchem Quartier wie viele Pudel pro Einwohner leben. Sortiere absteigend.

# Previous code (assuming df and pop are already loaded as in the previous code)
# ...

# Merge the two dataframes
merged_df = pd.merge(df, pop, left_on='QuarLang', right_on='Statistische Quartiere', how='inner')

# Filter for Poodles
poodle_df = merged_df[merged_df['Rasse1Text'] == 'Pudel']

# Group by district and count poodles, then calculate poodles per capita
poodles_per_capita = poodle_df.groupby('QuarLang')['Rasse1Text'].count() / merged_df.groupby('QuarLang')['Einwohner Dez. 2023'].mean()

# Sort the result in descending order
sorted_poodles_per_capita = poodles_per_capita.sort_values(ascending=False)

# Print the sorted result
sorted_poodles_per_capita

QuarLang
City                    0.012407
Weinegg                 0.004652
Fluntern                0.004099
Witikon                 0.003678
Seefeld                 0.003635
Leimbach                0.003425
Hottingen               0.003395
Höngg                   0.003283
Gewerbeschule           0.002993
Oberstrass              0.002939
Saatlen                 0.002594
Langstrasse             0.002587
Escher Wyss             0.002587
Wollishofen             0.002549
Albisrieden             0.002465
Wipkingen               0.002450
Altstetten              0.002313
Unterstrass             0.002218
Oerlikon                0.002045
Sihlfeld                0.001839
Seebach                 0.001554
Affoltern               0.001546
Mühlebach               0.001540
Hirzenbach              0.001358
Hirslanden              0.001301
Hard                    0.001052
Enge                    0.000997
Werd                    0.000860
Alt-Wiedikon            0.000607
Friesenberg             0.000361
Schwamendingen-Mitte    0.000088
Hochschulen                  NaN
Lindenhof                    NaN
Rathaus                      NaN
dtype: float64

# Visualisierung

3.1 Nimm das Ergebnis von 2.2 und erstelle eine passende Visualisierung in Datawrapper. Veröffentliche sie und kopiere den Link in das Notebook.

![image.png]()